@use '../../assets/sass/variables' as *;

hr {
	margin: 1rem 0;
	color: $horizontal-rule;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX((0));
}

.project {
	display: flex;
	flex-direction: column;

	&__header {
		font-size: 1.5rem;
		font-weight: 300;
		margin: 0.75rem 0;
	}

	&__tags {
		list-style: none;
		display: flex;
		gap: 0.5rem;
		margin: 4px 0 12px 0;

		&-tag {
			padding: 2px 4px;
			font-size: 0.75rem;
			color: white;
			background-color: $text-grey-dark;
			border-radius: 12px;
		}
	}

	&__image {
		max-width: 100%;
	}

	&__links {
		margin: 2rem 0;
		text-align: center;

		&-link {
			background-color: $background-button-dark;
			border: none;
			padding: 0.5rem 0.8rem;
			border-radius: 1rem;
			border: solid 1px $accent;
			color: $accent;
			letter-spacing: 2px;
			transition: all 200ms ease;
			cursor: pointer;

			&:hover {
				opacity: 0.7;
			}

			&:nth-child(1) {
				margin-right: 1rem;
			}
		}
	}
}

@media screen and (min-width: $tablet-breakpoint) {
	.project {
		&__image {
			max-width: 250px;
		}
	}
}

@media screen and (min-width: $desktop-breakpoint) {
	.project {
		&__image {
			max-width: 500px;
		}
	}
}
