@use '../../assets/sass/variables' as *;

.project__button {
	background-color: $background-button-dark;
	border: none;
	padding: 0.2rem 0.4rem;
	border-radius: 1rem;
	color: $text-white;
	letter-spacing: 2px;

	&:not(:last-of-type) {
		margin-right: 6px;
	}
}
