@use '../../assets/sass/variables' as *;

hr {
	color: $horizontal-rule;
	margin: 2rem 0 3rem;
}

.experience {
	&__item {
		&-header {
			font-size: 1rem;
			margin-bottom: 0;
			font-weight: 700;
		}

		&-date {
			font-size: 0.8rem;

			margin-top: 0;
			color: $text-grey-light;
		}

		ul {
			list-style: none;

			li {
				color: $text-white;
				font-size: 0.75rem;
				color: $text-grey-light;
				padding: 0.5rem 0;
			}
			// Used to add different coloured bullet points using pseudo elements.
			li::before {
				content: '\2022';
				color: $accent;
				font-weight: bold;
				display: inline-block;
				width: 1rem;
				margin-left: -1rem;
			}
		}
	}
}

.accent {
	color: $accent;
	font-size: 1.25rem;
	font-family: $text-serif;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 0;
}
